{% extends 'base.html' %}

{% block title %}
<title>Register User</title>
{% endblock title %} 
    

{% block css %}

{% endblock css %}

{% block js %}

{% endblock js %}

{% block body %}

{% if messages %}

    {% for msg in messages %}
    <p {% if msg.tags %} class="p-3 alert-{{msg.tags}}"{% endif %} >{{msg}}</p>
    {% endfor %}
    
{% endif %}


<div class="container">
    <div class="container text-center text-primary ">
        <h1> TASK MANAGER </h1>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">

                <div class="card shadow p-5">
                    
                    <div>
                    <form action="{% url 'register_user' %}" method="post">
                        {% csrf_token %}

                        <div class="text-center">
                            <span class="fs-4" style="font-family: cursive;">Add User</span>
                        </div>
                        
                        <div class="p-3">
                            {{form}}
                        </div>

                        <div class="text-center">
                            <button class="btn btn-success">ADD USER + </button>
                        </div>

                    </form>

                    </div>

                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>

    <div>

    </div>

</div>

{% endblock body %}

