{% extends 'base.html' %}

{% block title %}
<title>Task List Page</title>
{% endblock title %} 
    

{% block css %}

{% endblock css %}

{% block js %}

{% endblock js %}

{% block body %}

{% if messages %}

    {% for msg in messages %}
    <p {% if msg.tags %} class="p-3 alert-{{msg.tags}}"{% endif %} >{{msg}}</p>
    {% endfor %}
    
{% endif %}


<div class="container">

    <div class="container text-center text-primary mb-3 mt-5 shadow p-3">
        <h1> TASK LIST  </h1>
    </div>

    <div class="shadow p-5">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div>
                    <div>
                        <a class="btn btn-success" href="{% url 'create_task' %}">Create Task + </a>
                    </div>
                        <div class="mb-3  p-2">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for d in data %}
                                  <tr>
                                    <td><a style="font-family: cursive;" class="text-decoration-none" href="{% url 'task_details' d.id %}">{{d.task_name}}</a></td>
                                    <td>{{d.status}}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>

</div>

{% endblock body %}

